doctype html
html(lang="en")
	head
		title= title ? title : '订外卖啦'
		meta(name='viewport',content='width=device-width, initial-scale=1, user-scalable=no, minimal-ui')
		meta(name='apple-mobile-web-app-capable',content='yes')
		meta(name='apple-mobile-web-app-status-bar-style',content='black')
		meta(name='format-detection',content='telephone=no, email=no')
		link(rel="stylesheet",type="text/css",href="/styles/main.css")
	body
		section.title= dateText + '订餐统计'
			span.countDown
		.container
			section.show-content
				ul
					li 海潮叔叔 + 1
					li 甜姨 + 1
					li neeya2傻子 + 1
			canvas#sum.sum
			div.tools-bar.clearfix
				div.tools-wrap.left.clearfix
					div.add-text 需求
					div.change-name 改名
				div#plusOne.main-button.plus-one
					span +1
				div.tools-wrap.right.clearfix
					div.detail 详情
					div.feedback 反馈
		script(type='text/javascript',src='/js/zepto.js')
		script(type='text/javascript',src='/js/touch.js')
		script(type='text/javascript',src='/js/digit.js')
		script(type='text/javascript',src='/js/countdown.js')
		script(type='text/javascript',src='/socket.io/socket.io.js')
		script.
			var socket = io(window.location.host);
			console.log(window.location.host);
			socket.on('news', function (data) {
				console.log(data);
				socket.emit('my other event', { my: 'data' });
			});

		script(type='text/javascript',src='/js/main.js')